/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*root-palette*/

:root{
    --text-pink: #e53170;
    --text-light-blue: #68cbf2;
    --icon-black: #0f0e17;
    background-color: #fffffe;
}

/*wrapper*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #68cbf2;
}

/*float*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear:both;
}



/*header*/

header *{
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: var(--text-pink);
}

/*main*/

section {
    
    background-color: #e53170;
}

.layout {
    padding: 5px;
    width: calc(100% / 3);
    
}

.icon {
    background-color: var(--icon-black);
    color: white;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.icon-layout {
    padding: 10px;
    width: calc(100% - 100px);
    padding-right: 70px;
}

div .float-left .icon-layout>* {
    display: block;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.3em;
}

.icon-text {
    color: var(--text-light-blue);
}